body {

  font-size: 30px;
  text-align: center;
  background-color: rgb(80, 69, 69);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.styled {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  border: solid gray 8px;
  line-height: 2.5;
  padding: 20px;
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 100px;
  background-color: rgb(220 0 0 / 100%);
  background-image: linear-gradient(to top left,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 20%) 30%,
      rgb(0 0 0 / 0%));
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.styled:hover {
  background-color: rgb(255 0 0 / 100%);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#score {
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
  color: #fff;
}

#upgrade_1 {}

.upgrade {
  font-size: 50px;
  border-radius: 7px;
  border-width: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: none;
}

